@import "../../../styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary;
  margin: 0 30px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    @media screen and (min-width: $large) {
      width: 130px;
      height: 130px;
    }
  }
  p {
    font-size: 28px;
    @media screen and (min-width: $large) {
      font-size: 45px;
    }
  }
}
