<div class="wrapper">
  <ul class="navLinks">
    <li (click)="changeView(layoutViewTypes.HOME)">
      <span
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >home</mat-icon
        >
      </span>
    </li>
    <li (click)="changeView(layoutViewTypes.TECH)">
      <span>Technologies</span>
    </li>
    <li (click)="changeView(layoutViewTypes.PROJECTS)">
      <span>Projects</span>
    </li>
    <li (click)="changeView(layoutViewTypes.CONTACTS)"><span>Contact</span></li>
  </ul>
  <ng-container [ngSwitch]="getActiveView()">
    <app-home-page *ngSwitchCase="layoutViewTypes.HOME"></app-home-page>
    <app-tech *ngSwitchCase="layoutViewTypes.TECH"></app-tech>
    <app-projects *ngSwitchCase="layoutViewTypes.PROJECTS"></app-projects>
    <app-contacts *ngSwitchCase="layoutViewTypes.CONTACTS"></app-contacts>
  </ng-container>
</div>
