@import "../../../styles.scss";
@import "../../../mixins.scss";

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include fadeIn;
  h1 {
    color: $primary;
    font-size: 40px;
  }
  &_email {
    display: flex;
    color: $secondary;
    font-size: 26px;
    position: relative;
    align-items: center;
    @include slideInLeft;

    p {
      margin-right: 10px;
      height: 50px;
      display: flex;
      align-items: center;
    }
    button {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      padding: 0;
      img {
        width: 40px;
        height: 40px;
      }
    }
    span {
      position: absolute;
      right: -106px;
      top: 42px;
      font-size: 17px;
      color: $primary;
    }
  }
  &_phone {
    @extend .contacts_email;
  }
}
