<section class="wrapper">
    <div class="hero">
      <div class="personalInfo">
        <p>
          <span>I am,</span>
          <br/>
          <span>Paweł Zarzycki</span>
        </p>
        <div class="socials">
          <a href="https://linkedin.com/in/paweł-zarzycki" target=”_blank”>
            <img class="linkedin" src="../../../assets/icons/linkedinIcon.svg"  alt="li icon"/>
          </a>
          <a href="https://github.com/zazulec" target=”_blank”>
            <img class="gitlab" src="../../../assets/icons/githubIcon.svg"  alt="git icon"/>
          </a>
        </div>
      </div>
      <img
        class="image"
        src='../../../assets/photo/myPhoto.png'
        alt="Picture of the author"
        />
    </div>
    <div class="content">
      <h1>Frontend developer</h1>
      <p>I have been thinking about the IT industry for a long time, but due to professional commitments, I could not make the decision to change the industry before. In recent months, I have successfully completed a programming course and had knowledge at the Junior Front-end Developer level. Currently, my goal is to start work as soon as possible to use the newly learned knowledge in full-fledged projects and learn new issues.</p>
    </div>
  </section>