@import "../../../styles.scss";
@import "../../../mixins.scss";

.wrapper {
  width: 100vw;
  padding-top: 20px;
  @include fadeIn;
  .hero {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: space-between;
    & p {
      color: $primary;
      margin-top: 50px;
      & span {
        line-height: 80%;
        font-size: 55px;
        line-height: 2;
        @media screen and (min-width: $large) {
          font-size: 72px;
        }
      }
    }
    &_personalInfo {
      display: flex;
      flex-direction: column;
      &--introduce {
        @include slideInLeft;
      }
    }
    &_socials {
      display: flex;
      justify-content: flex-start;
      width: max-content;
      font-size: 30px;
      @include slideInLeft;
      &--linkedin,
      &--gitlab {
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.5s;
        margin: 10px 10px 10px 0px;
        @media screen and (min-width: $large) {
          width: 130px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    &_image {
      width: 385px;
      height: 515px;
      margin: 10px 10px 0 10px;
      -webkit-animation: appear 1s;
      animation: appear 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      @include slideInRight;
      @media screen and (min-width: $large) {
        width: 487px;
        height: 577px;
      }
    }
  }

  .infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    height: auto;
    padding-bottom: 40px;
    background-color: $secondary;
    border-radius: 10px 10px 0 0;
    @include fadeIn;
    & h1 {
      color: $tertiary;
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 20px;
      text-align: center;
      padding: 0 15px;
      @media screen and (min-width: $large) {
        font-size: 60px;
      }
    }
    & p {
      text-indent: 20px;
      margin: 0 auto;
      width: 80%;
      @media screen and (min-width: $large) {
        font-size: 35px;
      }
    }
  }
}
