@import "../../../styles.scss";

.wrapper {
  width: 100vw;
  padding-top: 20px;
  .hero {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: space-between;
    & p {
      color: $primary;
      margin-top: 50px;
      & span {
        line-height: 80%;
        font-size: 55px;
        line-height: 2;
      }
    }
    &_personalInfo {
      display: flex;
      flex-direction: column;
    }
    &_socials {
      display: flex;
      justify-content: flex-start;
      width: max-content;
      font-size: 30px;
      &--linkedin,
      &--gitlab {
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.5s;
        margin: 10px 10px 10px 0px;
        &:hover {
          opacity: 1;
        }
      }
    }
    &_image {
      width: 385px;
      height: 515px;
      margin: 10px 10px 0 10px;
      -webkit-animation: appear 1s;
      animation: appear 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
  
  .infoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    height: 300px;
    background-color: $secondary;
    border-radius: 10px 10px 0 0;
    & h1 {
      color: $tertiary;
      font-size: 35px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    & p {
      text-indent: 20px;
      margin: 0 auto;
      width: 80%;
    }
  }
}
