<section class="wrapper">
  <div class="hero">
    <div class="hero_personalInfo">
      <p class="hero_personalInfo--introduce">
        <span>I am,</span>
        <br />
        <span>Paweł Zarzycki</span>
      </p>
      <div class="hero_socials">
        <a href="https://linkedin.com/in/paweł-zarzycki" target="”_blank”">
          <img
            class="hero_socials--linkedin"
            src="assets/icons/linkedinIcon.svg"
            alt="li icon"
          />
        </a>
        <a href="https://github.com/zazulec" target="”_blank”">
          <img
            class="hero_socials--gitlab"
            src="assets/icons/githubIcon.svg"
            alt="git icon"
          />
        </a>
      </div>
    </div>
    <img
      *ngIf="mobile"
      class="hero_image"
      src="assets/myPhoto.png"
      alt="Picture of the author"
    />
  </div>
  <div class="infoContent">
    <h1>Frontend developer</h1>
    <p>
      I have been thinking about the IT industry for a long time, but by
      professional duties, I could not decide to change industry before. When I
      finally succeeded, I signed up for the JuniorFrotentd Developer course at
      infoShare Academy, which taught me the basics of frontend.
    </p>
    <p>
      I currently have over eight months of commercial experience. For five
      months I have been successfully running an e-commerce store project for
      one of of the largest Polish youth portals focused on the subject of
      street fashion, lifestyle and music.
    </p>
  </div>
</section>
