<section class="wrapper">
    <h1>Moje Projekty:</h1>
    <div class="projects">
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
        <app-project-card (click)="changeVisible()"></app-project-card>
    </div>
</section>