<div class="projectCard">
  <p>{{ project.title }}</p>
  <img
    class="projectCard_photo"
    src="{{ project.source }}"
    alt="projectImage"
  />
  <div class="projectCard_additionalContent">
    <a
    class="projectCard_additionalContent--imageLeft" 
      href="{{ project.githubLink }}"
      target="_blank"
    >
      <img src="../../../assets/icons/githubIcon.svg" alt="icon/linkToCode" />
    </a>
    <a
      [hidden]="!project.liLink"
      href="{{ project.liLink }}"
      target="_blank"
    >
      <img  class="projectCard_additionalContent--imageRight" src="../../../assets/icons/siteOnline.png" alt="icon/linkToLive" />
    </a>
  </div>
</div>
