@import "../../../styles.scss";
@import "../../../mixins.scss";

.projectCard {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 75vw;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 20px;
  max-width: 400px;
  max-height: 450px;
  cursor: pointer;
  color: $secondary;
  -webkit-box-shadow: 5px 5px 20px 5px #000000;
  box-shadow: 5px 5px 20px 5px #000000;
  @include fadeIn;
  &:hover {
    .projectCard_additionalContent {
      opacity: 1;
    }
  }
  &_photo {
    width: 90%;
    height: 100%;
  }
  &_additionalContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    opacity: 0;
    background-color: $backgroundColor;
    transition: all 0.5s ease-in-out;
    width: 90%;
    height: 100%;
    &--imageLeft {
      width: 71px;
      height: 60px;
      margin: 10px;
      opacity: 0.4;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 1;
      }
    }
    &--imageRight {
      width: 72px;
      margin: 10px;
      opacity: 0.4;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 1;
      }
    }
  }
}
